__pycache__/
*.pyc


OmniParser/.conda/
OmniParser/.omni_env/
OmniParser/weights/
OmniParser/.easyocr/
OmniParser/.hf/
OmniParser/.ultralytics/
OmniParser_git_backup/
OmniParser/.conda/
OmniParser/eval/logs_*.json

upload

video/*
!video/.gitkeep
!video/label/
!video/label/.gitkeep
!video/unlabel/
!video/unlabel/.gitkeep

process/*
!process/.gitkeep
!process/data/
!process/data/.gitkeep
!process/ima/
!process/ima/.gitkeep
!process/total/
!process/total/.gitkeep

final_unlabel/*
!final_unlabel/.gitkeep
!final_unlabel/data/
!final_unlabel/data/.gitkeep
!final_unlabel/ima/
!final_unlabel/ima/.gitkeep
!final_unlabel/total/
!final_unlabel/total/.gitkeep

final_label/*
!final_label/.gitkeep
!final_label/data/
!final_label/data/.gitkeep
!final_label/ima/
!final_label/ima/.gitkeep
!final_label/total/
!final_label/total/.gitkeep


