__pycache__/
*.pyc


OmniParser/.conda/
OmniParser/.omni_env/
OmniParser/weights/
OmniParser/.easyocr/
OmniParser/.hf/
OmniParser/.ultralytics/
OmniParser_git_backup/
OmniParser/.conda/
OmniParser/eval/logs_*.json

